.chart-pie {
    align-items: center;
    text-align: center;
    background-color: white;
    border: #007bff;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    width: 200px;
    margin: auto;
}
countdown{
    font-size: 30px;
}
.resize {
    max-width:25%;
    max-height:25%;
  }
.pagination
{
    align-items: center;
    text-align: center; 
}
.pagination .page-item :active {
    border: #007bff;
    border-radius: 5px;
}
.pagination.page-item:hover:not(.active){
    background-color: red;
}

