<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body id="page-top" style="background: ivory">
    <!-- Content Wrapper -->
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light shadow" style = "margin: 5px;border-radius: 5px">

            <form class="form-inline col-md-6" >
             
            </form>
            <form class="form-inline col-md-6">
              <button class="btn btn-outline-primary my-2 my-sm-0"  style = "margin: 5px" (click)="sigoutfacebook()"  ><i class="fab fa-facebook-f fa-fw"></i>Logout</button>
              <a class=""role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="img-profile rounded-circle resize " src ="{{image}}"  >
                  <span class="mr-2 d-none d-lg-inline">{{username}}</span>
              </a>
            </form>

        </nav>
        <!-- End of Topbar -->


          <!-- Content Row -->
          <div class="row" style="padding: 5px;" >         
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5" *ngFor="let less of arrLession" >
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header" >
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" >• {{less.NameOfLession}} •</div>
                        <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    
                    <h6>- Theme of Lession : {{less.ThemeOfLession}}</h6>
                    <h6>- Number of Question : {{less.NumberOfQuestions}} questions</h6>
                    <h6>- Level : {{less.Level}}</h6>
                    <h6>- Max Score Of Test : {{less.Score}} score</h6>
                    <h6>- Timing : {{less.Timing}} minutes</h6>
                    
                  </div>
                  <div class="mt-4 text-center small">
                      <button style ="margin: 5px" class="btn btn-outline-success" (click)="doTest(less._id,less.Timing,less.NameOfLession)">Start Exam</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


   

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

 

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  <!-- Core plugin JavaScript-->
  <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

  <!-- Custom scripts for all pages-->
  <!-- <script src="js/sb-admin-2.min.js"></script> -->

  <!-- Page level plugins -->
  <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->

  <!-- Page level custom scripts -->
  <!-- <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script> -->

</body>

</html>
